.portfolio-snip {
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #59585d;
  padding: 50px;
  color: white;
}

.port-header {
  text-align: center;
  margin-bottom: 2.32rem;
}

.port-header h1 {
  font-weight: 400;
  font-size: 2.16rem;
  margin: 1.25rem 0 2rem 0
}

.port-header i {
  font-size: 1.4rem;
  padding: .2rem;
}

.projects-section {
  display: flex;
  width: 93.8vw;
  justify-content: space-evenly
  ;
}

.proj-box {
  width: 415px;
  height: 410px;
  display: flex;
  text-align: center;
}

.product {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proj-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  /* margin-bottom: .6rem; */
  padding-bottom: .8rem;
  flex: 3;
}

.proj-info h2 {
  font-weight: 400;
  margin-bottom: .7rem;
  font-size: 1.4rem;
}

.proj-info p {
  width: 98%;
  font-size: .9rem;
  line-height: 20px;
}

.btn-box {
  flex: 2;
  display: flex;
  align-items: flex-start;
}

.proj-btn {
  margin-top: 1rem;
  border: #fff 2px solid;
  padding: .5rem 1rem;
  font-size: 1.32rem;
  width: 7.2rem;
  text-align: center;
  cursor: pointer;
}

.proj-btn:hover {
  background-color: #fff;
  color: #000;
  transition: ease-out 200ms;
}

.more-proj {
  width: 15%;
  margin-top: 2.75rem
}
